svg.schemascii {
    background: black;

    --sch-scale: attr(data-scale);
}

svg.schemascii .wire line {
    stroke: var(--sch-color, blue);
    stroke-width: 2;
    stroke-linecap: round;
    transition-duration: 0.2s;
}

svg.schemascii .wire:hover {
    --sch-color: lime;
}

svg.schemascii .component polyline {
    stroke: var(--sch-color, red);
    stroke-width: 1;
    stroke-linecap: round;
    transition-duration: 0.2s;
    fill: none;
}

svg.schemascii .component:hover {
    --sch-color: lime;
}

svg.schemascii .component text {
    fill: white;
    transition-duration: 0.2s;
}

svg.schemascii .component:hover text {
    font-size: larger;
}

svg.schemascii .component tspan.cmp-value {
    fill: gray;
}